body {
    font-family: 'Mirza script=arabic rev=2';
    background: #f8f9fb;
}

html, body, ul, ol, li, form, fieldset, legend {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

fieldset img {
    border: 0;
}

ul {
    width: 100%;
    list-style-type: none;
}

ul:after {
    content: "";
    display: block;
    clear: both;
}

/*---------------------------------------
 **   Section: Our focus             -----
-----------------------------------------*/
.focus-box .service-icon .pixeden {
    border-radius: 50%;
    text-align: center;
}

.focus {
    overflow: hidden;
    background: #FFFFFF;
}

.focus .row {
    text-align: center;
}

.focus .row .focus-box, .our-team .row .team-box {
    display: inline-block;
    float: none !important;
    margin-right: -4px;
    vertical-align: top;
    margin-bottom: 25px;
}

/* FOCUS BOX */
.focus-box .service-icon {
    margin-bottom: 30px;
    width: 115px;
    height: 115px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #ececec;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

/* ON HOVER COLORED ROUNDED CIRCLE AROUND ICONS */
/* ON HOVER COLORED ROUNDED CIRCLE AROUND ICONS */
.red, .green, .blue, .yellow {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.focus-box:nth-child(4n+1) .service-icon:hover {
    border: 10px solid #e96656;
}

.focus-box:nth-child(4n+2) .service-icon:hover {
    border: 10px solid #34d293;
}

.focus-box:nth-child(4n+3) .service-icon:hover {
    border: 10px solid #3ab0e2;
}

.focus-box:nth-child(4n+4) .service-icon:hover {
    border: 10px solid #f7d861;
}

.focus-box:nth-child(4n+1) .red-border-bottom:before {
    background: #e96656;
}

.focus-box:nth-child(4n+2) .red-border-bottom:before {
    background: #34d293;
}

.focus-box:nth-child(4n+3) .red-border-bottom:before {
    background: #3ab0e2;
}

.focus-box:nth-child(4n+4) .red-border-bottom:before {
    background: #f7d861;
}

.focus-box h5 {
    margin-bottom: 15px;
    color: #404040;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 17px;
    float: none;
    width: auto;
    background: none;
}

.focus-box p {
    font-size: 14px;
    color: #808080;
}

/*----OTHER FOCUSES ----*/
.other-focuses {
    margin-bottom: 25px;
}

.other-focuses .section-footer-title {
    padding: 0 15px;
    color: #404040;
    font-weight: bold;
}

.other-focus-list {
    padding-top: 5px;
    margin-bottom: -17px;
}

.other-focus-list ul li {
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.other-focus-list ul li:last-child {
    margin-right: 0;
}

.other-focus-list ul li i {
    margin-right: 8px;
}

.wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#main-nav {
    background: #032f3e;
    border-left: 3px solid #120ef9;
}

#main-nav ul {
    width: 100%;
    list-style-type: none;
}

#main-nav ul:after {
    content: "";
    display: block;
    clear: both;
}

#main-nav li {
    float: left;
    width: 16.60%;
}

#main-nav a {
    color: #f8f9fb;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    font-family: 'Roboto', arial, sans-serif;
}

#main-nav a:hover {
    background: #333;
}

#services {
    margin: 20px 0;
}

#services li {
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 32%;
    /* border: 1px solid rebeccapurple; */
}

#services li:nth-child(3n) {
    margin-right: 0;
}

#services li div {
    background: #FFF;
}

section h1 {
    font-size: 20px;
    color: #032f3e;
    text-align: center;
    border-bottom: 2px solid #ececec;
}

.lead-banner {
    width: 100%;
    position: relative;
    color: red;
    text-align: right;
}

.lead-banner .banner-content {
    position: absolute;
    top: 50px;
    width: 100%;
}

.lead-banner img {
    width: 100%;
}

.lead-banner span {
    width: 100%;
    font-size: 46px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.lead-banner span.title {
    font-weight: normal;
    margin-bottom: 30px;
    color: pink;
}

.middle-banner {
    width: 100%;
    position: relative;
    color: red;
}

.middle-banner .banner-content {
    position: absolute;
    top: 50px;
    width: 100%;
}

.middle-banner img {
    width: 100%;
}

.middle-banner span {
    width: 100%;
    font-size: 46px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.middle-banner span.title {
    font-weight: normal;
    margin-bottom: 30px;
    color: pink;
}

.middle-banner li {
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    margin: 20px 0;
}

#cards {
    margin: 30px 0;
}

#cards .card {
    width: 100%;
    margin: auto;
    padding: 10px;
}

#cards .card:after , .wrapper:after {
    content: "";
    display: block;
    clear: both;
}

.card div.img {
    width: 100%;
    float: left;
    border: 5px solid #c1C1c1;
}
.card div.img img {
    width: 100%;
}

#about {
    border: 5px solid #c1C1c1;
    position: absolute;
    width: 45%;
    height: 40%;
    margin: 0 auto;
    margin-top: 40px;
    left: 0;
    right: 0;
    zOrder: 100;
    backgroundColor: 'white';
    padding: 20px;
}

.card div.content {
    margin-left: 15%;
    padding-left: 30px;
    font-family: "Mirza script=arabic rev=2";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.40455
}

#cards .footer {
    min-height: 50px;
    padding: 10px;
}

.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
    padding: 0.6em 1.3em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Amiri', serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn:hover,
.btn:focus {
    color: green;
    outline: 0;
}

.fifth {
    border-color: #8e44ad;
    border-radius: 0;
    color: #8e44ad;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
}

.fifth:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #f9f9f9;
    z-index: -1;
    transition: width 150ms ease-in-out;
}
.left {
    float: left;
}
.right {
    float: right;
}
.fifth:hover {
    color: green;
}

.fifth:after {
    width: 110%;
}

#cards .content1 {
    width: 60%;
    padding: 0 30px;
    display: block;
    float: left;
    visibility: visible;
    font-family: "Mirza script=arabic rev=2";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.40455
}

#cards p {
    text-align: justify;
    visibility: visible;
    font-family: 'Amiri', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    direction: rtl;
}

#cards h2 {
    text-align: justify;
    visibility: visible;
    font-family: 'Amiri', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.80455;
    color: blue;
    direction: ltr;
}

#cards #loading {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://www.wpfaster.org/wp-content/uploads/2013/06/circle-loading-gif.gif");
    text-align: center;
}

.flex-container {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
    border: 1px solid blue;
}

.flex-item {
    background-color: tomato;
    padding: 5px;
    width: 20px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

p#cat {
    position: absolute;
    top: 2px;
    text-align: center;
    left: 37px;
    display: block;
    font-size: 18px;
    font-family: nastliq, serif;
    color: green;
}
